.main {
  display: flex;
  flex-direction: column;
  background-image: url('../../images/salty-beach.jpg');
  background-size: cover;
}

.pageContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 3vh 6vw;
}

.container {
  padding: 3vw;
  width: 100%;
  background-color: rgba(41, 41, 43, 0.6);
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: 90vh;
}

.leftContainer {
  flex: 1.5;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;

  .headerPill {
    border-radius: 50px;
    background-color: rgba(64, 64, 68, 1);
    padding: 8px;
    flex: 1;

    .headerPillBody {
      padding: 4px 10px;
      display: flex;
      justify-content: space-between;

      .locationContainer {
        padding: 4px 10px;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 10px;
        align-items: center;
      }

      .locationTag {
        font-size: 14px;
        margin-left: 5px;
        padding: 0;
      }

      .rightTag {
        padding: 4px 10px;
        display: flex;
        align-items: center;
      }
    }
  }

  .fullContentBar {
    flex: 99;
    margin-top: 4%;
    border-radius: 30px;
    padding: 5px 32px;
    z-index: 3;
    background-color: rgba(158, 158, 164, 0.4);
    display: flex;
    flex-direction: column;

    .centerData {
      flex: 1;
      padding: 1vh 45px;
      display: flex;
      justify-content: center;
      align-items: center;

      .tempData {
        text-align: center;

        .degreeTemp {
          font-size: 90px;
        }

        .wetness {
          font-size: 45px;
          font-weight: 300;
          padding: 8px 0 18px;
        }

        .tempStatement {
          font-size: 12px;
          font-weight: 300;
          line-height: 18px;
        }
      }
    }

    .leftWeatherCardsContainer {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        flex: 1;
        margin-bottom: 2vh;
      }
    }
  }
}

.rightContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;


  .rightWeatherCards {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      margin-bottom: 1vh;
    }
  }

  .notesContainer {
    flex: 3;
    display: flex;
    overflow: hidden;
  }
}


@media screen and (max-width: 1111px) {
  .main {
    display: block;
    flex-direction: unset;
    background-image: unset;
    background-color: unset;
  }

  .pageContainer {
    display: block;
    background: unset;
    width: 100%;
    height: unset;
    padding: 0;
  }


  .container {
    padding: 3vh;
    width: 100%;
    border-radius: 0;
    display: block;
    flex-wrap: unset;
    flex-direction: unset;
    justify-content: unset;
    background-color: unset;
  }

  .leftContainer {
    margin: 0;
    display: block;
    height: unset;


    .headerPill {
      margin-bottom: 2vh;
    }

    .fullContentBar {
      margin-top: 0;
      border-radius: 30px;
      padding: 32px;
      z-index: 3;
      background-color: rgba(158, 158, 164, 0.4);
      display: block;
      flex-direction: unset;
      justify-content: space-between;


      .leftWeatherCardsContainer {
        margin-top: 2vh;
      }

    }
  }

  .rightContainer {
    display: flex;
    margin-top: 2vh;
    height: unset;
    background: unset;


    .rightWeatherCards {
      flex: 1;
      display: flex;

      div {
        margin-bottom: 2vh;
      }
    }

    .addNotesContainer {
      margin-top: 4%;
      padding: 20px;
      border-radius: 20px;
      position: relative;
      background-color: rgba(25, 25, 25, 0.7);
      display: flex;
      flex-direction: column;
      min-height: 40vh;
    }

    .notesContainer {
      flex: 2;
      display: flex;
      max-height: unset;
      min-height: 40vh;
    }
  }
}


@media screen and (max-width: 1520px) {
  .leftContainer {

    .fullContentBar {

      .leftWeatherCards {
        display: flex;
        flex-direction: column;
        max-height: 40vh;

        .leftWeatherCardsRow {
          margin: 20px;
          display: flex;
          flex-direction: row;

          div {
            margin-bottom: 1vh;
          }
        }
      }
    }

  }
}