.main {
  display: flex;
  flex-direction: column;
  background-image: url('../images/snow-night2.jpg');
  background-size: cover;
}

.pageContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 6vh 6vw;
}


.container {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
  background-color: rgba(41, 41, 43, 0.6);
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.rightContainer {
  flex: 0 0 53%;
  border: 1px dashed #333;
  background-color: rgba(11, 11, 12, 0.4);
}

.leftContainer {
  flex: 0 0 40%;
  margin-right: 2%;
  border: 1px dashed #333;
  display: flex;
  flex-direction: column;

  .headerPill {
    border-radius: 50px;
    background-color: rgba(64, 64, 68, 1);
    padding: 8px;
    flex: 0 0 2%;
  }

  .fullContentBar {
    flex: 0 0 92%;
    margin-top: 6%;
    border-radius: 30px;
    padding: 5px 32px;
    z-index: 3;
    background-color: rgba(158, 158, 164, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .centerData {
      flex: 0 0 40%;
      padding: 6vh 45px;
      margin-top: 5%;


      .tempData {
        text-align: center;

        .degreeTemp {
          font-size: 90px;
        }

        .wetness {
          font-size: 45px;
          font-weight: 300;
          padding: 8px 0 18px;
        }

        .tempStatement {
          font-size: 12px;
          font-weight: 300;
          line-height: 18px;
        }

      }
    }

    .weatherCards {
      flex: 0 0 50%;
      display: flex;
      margin-bottom: 10%;
      flex-wrap: wrap;
      justify-content: space-between;
    }




  }
}



.locationContainer {
  padding: "4px";
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  align-items: center;
}

.locationTag {
  font-size: 14px;
  margin-left: 4px;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-1:nth-child(1) {
  width: 75%;
}

.flex-1:nth-child(2) {
  width: 25%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-left: 1px solid #d1d5db;
}